<div class="hd logodiv">
    <%- image_tag('img/logo.webp',{class: 'logopng'}) %>
    <p class="logot">
        <span class="logo_1">&lt;</span>
        <span class="logo_2">/</span>
        <span class="logo_3">#</span>
        <a class="site-name" href="/">
            <ruby>
                快
                <rp>(</rp>
                <rt>ko</rt>
                <rp>)</rp>
                乐
                <rp>(</rp>
                <rt>no</rt>
                <rp>)</rp>
                小
                <rp>(</rp>
                <rt>dio</rt>
                <rp>)</rp>
                沙
                <rp>(</rp>
                <rt>da</rt>
                <rp>)</rp>
                雕
                <rp>(</rp>
                <rt>!!</rt>
                <rp>)</rp>
            </ruby>
        </a>
        <span class="logo_3">#</span>
        <span class="logo_2">/</span>
        <span class="logo_1">&gt;</span>
    </p>
</div>
<%- partial('_partial/nav') %>
<div class="tags_main">
<% if (site.tags.length){ %>
    <div class="tags_body">
        <%- tagcloud(site.tags, {min_font:16, max_font:16, color: 'true',start_color: '#43c6ac', end_color: '#2980b9', class: 'tagbox',level:'0'}) %>
    </div>
<% } %>
</div>
